<!-- Should be moved to /dist when compiled by gulpfile.js -->
<?xml version="1.0" encoding="utf-8"?>

<widget xmlns="http://ww.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.devtips.community.deadline"
        versionCode="0"
        version="0.0.1">

  <name>Deadline</name>
  <description>
    A sadistic deadline app
  </description>

  <!-- TODO Authors -->

  <content src="index.html"/>
  <access origin="*"/>

  <gap:platform name="ios"     />
  <gap:platform name="android" />
  <gap:platform name="winphone"/>

  <preference name="phonegap-version" value="3.3.0"/>

  <preference name="orientation" value="portrait"/>
  <preference name="fullscreen" value="false"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="DisallowOverscroll" value="false"/>
  <preference name="disallowOverscroll" value="false"/>

  <!-- ios -->
  <preference name="prerendered-icon" value="false"/>
  <preference name="target-device" value="handset"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>

  <!-- android -->
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>

</widget>
